html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Scroll bo‘lmaydi */
}

.fullscreen-gallery {
  width: 100%;
  height: 100vh;
}

.gallery-swiper {
  width: 100%;
  height: 100%;
}

.fullscreen-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-slide img {
  width: 1000px;
  height: 1000px;
}

.gallery-caption {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: #fff;
  font-size: 18px;
  text-shadow: 0 0 5px black;
}
